body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*nav*/
.nav {
    overflow: hidden;
    background-color: rgb(189, 189, 189);
    padding: 20px 10px;
}

.nav a {
    float: left;
    color: rgb(87, 87, 87);
    text-align: center;
    text-decoration: none;
    margin: 12px 20px 12px 20px;
    font-size: 20px;
    line-height: 25px;
    font-variant: small-caps;
}

.nav-right {
    float: right;
}

.nav a:hover {
    filter: brightness(0.8);
}

.nav a#aktiv {
    filter: brightness(0.5);
}

.nav-wrap {
    max-width: 80%;
    margin: 0 auto;
}

.side-wrap {
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 0px 0px 40px;
}


/*index*/
.tittel {
    font-size: 50px;
    font-style: italic;
    color: rgb(87, 87, 87);
}

.beskrivelse {
    font-size: 20px;
    font-style: italic;
    color: rgb(163, 163, 163);
    max-width: 70%;
}

.finnSted {
    margin-top: 60px;
    color: rgb(87, 87, 87);
    max-width: 285px;
}
.finnSted h3 {
    text-transform: uppercase;
    font-size: 18px;
}
.finnSted select {
    padding: 9px 16px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #e7e7e7;
    border: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
.finnSted select:enabled {
    outline: none;
}
.finnSted #by {
    margin-top: 10px;
}
.finnSted input {
    padding: 9px 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    border-radius: 20px;
    text-transform: uppercase;
    width: 100%;
    background-color: #e7e7e7;
}
.finnSted select:hover, .finnSted input:hover {
    filter: brightness(0.8);
}

#bliMedlem {
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    padding: 9px 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: rgb(87, 87, 87);
    background-color: #e7e7e7;
}
#bliMedlem:hover {
    filter: brightness(0.8);
}



/*Medlem*/
.medlem-container{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

#medlem-tekst{
    padding: 50px 30px;
}

#medlem-abonnement-container {
    display: flex;
    flex-direction: row;
}

.medlemskap {
    border: 1px solid #ccc;

    width: 300px;
    height: 600px;
    padding: 50px;
    
    text-align: center;

    font-size: 1.2rem;
    
}
.medlem-button{
    margin-top: 350px;

    padding: 15px 50px;
    font-size: 1rem;
}


#markert{
    background-color: #cecece;
}


/*Bil/båt info*/
.bil-baat-container {
    display: flex;
    margin-top: 150px;
    flex-wrap: wrap;
}
.bil-baat-bilde {
    flex: 40%;
    margin: 0;
    margin-right: 50px;
}
.bil-baat-bilde img {
    width: 100%;
    height: auto;
} 
.bil-baat-info {
    flex: 50%;
    color: rgb(87, 87, 87);
}
.bil-baat-info ul {
    list-style-type: none;
    margin-left: -40px;
}
.bil-baat-info h1 {
    font-size: 45px;
}
.bil-baat-info p, .bil-baat-info ul {
    font-size: 20px;
}


/*Biler og båter*/
.bil-baat {
    font-style: normal;
    text-transform: uppercase;
}
.tabell {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}
.tabell:last-child {
    margin-bottom: 100px;
}
.tabell td, .tabell th {
    border: 1px solid rgb(87, 87, 87);
    padding: 8px;
    color: rgb(87, 87, 87);
    font-size: 20px;
}
.tabell th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
.tabell td {
    width: 25%;
}
.tabell td a {
    color: rgb(87, 87, 87);
    text-decoration: none;
    transition: 0.1s;
    padding: 5px;
    font-weight: 200;
}
.tabell td a:hover {
    text-decoration: underline;
}


/*Om oss*/
.om-oss {
    font-style: normal;
}
#om-oss {
    max-width: 50%;
    font-size: 28px;
    color: rgb(87, 87, 87);
    line-height: 35px;
}