body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #EFEFEF;
    
    font-family: 'Encode Sans Expanded', sans-serif;
    max-width: 100vw;
    overflow: hidden;
}


/*nav*/
.nav {
    overflow: hidden;
    padding: 20px 0px;
}

.nav a {
    float: left;
    color: #2A2A2A;
    text-align: center;
    text-decoration: none;
    margin: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    border-bottom: 1.5px solid transparent;

    padding: 7px 7px 8px 7px;

    transition: color .2s;

}
.nav-right {
    float: right;
}

.nav a:hover {
    color: #FF3B3F;
    transition: .2s ease;
}

.nav a#aktiv {
    color: black;
    border-bottom: 1.5px solid #FF3B3F;
}

.nav a#aktiv:hover {
    color: #FF3B3F;
    transition: .2s ease;

}

.nav-wrap {
    max-width: 75%;
    margin: 0 auto;
}

.side-wrap {
    max-width: 75%;
    margin: 0 auto;
    padding: 40px 0px 0px 40px;
}


/*index*/
.tittel {
    font-size: 50px;
    color: #2A2A2A;
    font-weight: 400;
    margin-top: -35px;
}

.main-tittel {
    font-weight: 600;
    color: #FF3B3F;
    margin-top: 0%;

}

.beskrivelse {
    font-size: 22px;
    font-style: italic;
    color: #343434;
    max-width: 50%;
    
    margin-top: -30px;
    line-height: 30px;
    margin-bottom: 40px;
}

.finnSted {
    margin-top: 60px;
    color: rgb(87, 87, 87);
    max-width: 285px;
}
.finnSted h3 {
    text-transform: uppercase;
    font-size: 18px;
}
.finnSted select {
    padding: 9px 16px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #e7e7e7;
    border: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
.finnSted select:enabled {
    outline: none;
}
.finnSted #by {
    margin-top: 10px;
}
.finnSted input {
    padding: 9px 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    border-radius: 20px;
    text-transform: uppercase;
    width: 100%;
    background-color: #e7e7e7;
}
.finnSted select:hover, .finnSted input:hover {
    filter: brightness(0.8);
}

.finnSted select {
    width: 225px;
    padding: 15px 25px;
    margin-bottom: 10px;
    border-color: #EFEFEF;
    font-size: 13px;
    color: #343434;
    background-color: #DADADA;
}

.finnSted input {
    padding: 15px 25px;
    width: 225px;
    border: 3px solid #DADADA;
    transition: .4s ease;

}

.finnSted input:hover{
    background-color: #FF3B3F;
    color: white;
    border-color: white;
}

#bliMedlem {
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
<<<<<<< HEAD
    color: rgb(87, 87, 87);
    background-color: #e7e7e7;
=======
    color:white;

    background-color: #FF3B3F;
    border: 1px solid transparent;
    transition: .2s ease;
>>>>>>> style
}
#bliMedlem:hover {
    background-color: transparent;
    border: 1px solid #FF3B3F;
    color: #FF3B3F;
}

#background-image {
    position: fixed;
    top: 0;
    right: 0;
    
    height: 100%;
    width: 100vw;
    
    z-index: -1;

    background-image: url("../ressurser/background3.png");
    background-repeat: no-repeat;
    float: right;
}

#background-element1 {
    position: fixed;
    float: right;
    bottom: 0;
    left: -11%;
    
    width: 0;
    height: 0;
    border-bottom: 120px solid #FF3B3F;
    border-right: 500px solid transparent;

}

#background-element2 {
    position: fixed;
    float: right;
    bottom: 0;
    right: 0;

    width: 0;
    height: 0;
    border-bottom: 60px solid #FF3B3F;
    border-left: 700px solid transparent;

}

.logo-wrapper{
    
    margin-top: 7%;

    height: auto;
    width: auto;

}

.logo {
    width: 70px;
    height: auto;
    margin-right: 15px;
}


/*Medlem*/
.medlem-container{
    display: flex;
    justify-content: center;

    max-width: 75%;
    margin: 0 auto;
}

#medlem-tekst{
    padding: 50px 30px;
}

#medlem-tekst h1 {
    padding-bottom: 15px;
    border-bottom: 3px solid #FF3B3F;
}

#medlem-abonnement-container {
    display: flex;
    flex-direction: row;
}

.medlemskap {
    border: 1px solid #ccc;

    width: 300px;
    height: 50vh;
    padding: 50px;
    
    text-align: center;

    font-size: 1.2rem;
    
}
.medlemskap-innhold {
    margin-bottom: 25vh;
}

#markert{
    background-color: #cecece;
}

.medlemskap-button {
    text-decoration: none;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    color:white;

    background-color: #FF3B3F;
    border: 1px solid transparent;
    transition: .2s ease;;
}

.medlemskap-button:hover {
    background-color: transparent;
    border: 1px solid #FF3B3F;
    color: #FF3B3F;
}

/*Bil/båt info*/
.bil-baat-container {
    display: flex;
    margin-top: 150px;
    flex-wrap: wrap;
}
.bil-baat-bilde {
    flex: 40%;
    margin: 0;
    margin-right: 50px;
}
.bil-baat-bilde img {
    width: 100%;
    height: auto;
} 
.bil-baat-info {
    flex: 50%;
    color: rgb(87, 87, 87);
}
.bil-baat-info ul {
    list-style-type: none;
    margin-left: -40px;
}
.bil-baat-info h1 {
    font-size: 45px;
}
.bil-baat-info p, .bil-baat-info ul {
    font-size: 20px;
}


/*Biler og båter*/
<<<<<<< HEAD
.bil-baat {
    font-style: normal;
=======
.tabell-wrapper {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    margin-bottom: 15px;

    border-left: 5px solid #FF3B3F;
    border-bottom: 1px solid black;
>>>>>>> style
}
.tabell {
    border-collapse: collapse;
    width: 100%;
<<<<<<< HEAD
    margin-bottom: 15px;
}
.tabell:last-child {
    margin-bottom: 100px;
=======
    position: relative;
>>>>>>> style
}
.tabell td, .tabell th {
    border: 1px solid rgb(87, 87, 87);
    padding: 8px;
    color: rgb(87, 87, 87);
    font-size: 20px;
}
.tabell th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
<<<<<<< HEAD
=======

    position: sticky;
    top: 0;

    background-color: #FF3B3F;
    color: #fff;
>>>>>>> style
}
.tabell td {
    width: 25%;
}
.tabell td a {
    color: rgb(87, 87, 87);
    text-decoration: none;
    transition: 0.1s;
    padding: 5px;
    font-weight: 200;
<<<<<<< HEAD
}
.tabell td a:hover {
    text-decoration: underline;
}


=======
    text-decoration: underline;

}
.tabell td a:hover {
    color: #FF3B3F;
}



>>>>>>> style
/*Om oss*/
.om-oss {
    font-style: normal;
}
#om-oss {
    max-width: 50%;
    font-size: 28px;
    color: rgb(87, 87, 87);
    line-height: 35px;
}


/*steder*/
<<<<<<< HEAD
.steder {
    font-style: normal;
}
.sted-container {
    display: flex;
    width: 100%;
    margin-top: 50px;
=======

.sted-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
>>>>>>> style
}
.sted {
    flex: 1;
    border: 1px solid rgb(87, 87, 87);
<<<<<<< HEAD
    margin: 0px 50px 0px 50px;
    text-align: center;
    height: 500px;
    cursor: pointer;
    color: rgb(87, 87, 87);
}
.sted h3 {
    font-style: italic;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 100px;
}
.sted .info {
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease;
    font-size: 22px;
    color: rgb(119, 119, 119);
}
/* .sted:hover .info {
    visibility: visible;
    opacity: 1;
} */
.sted:hover {
    color: rgb(58, 58, 58);
    border-color: rgb(58, 58, 58);
}
=======
    margin: 0px 20px 0px 20px;
    text-align: center;
    height: 60vh;
    cursor: pointer;
    color: rgb(87, 87, 87);
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;

}

.info {
    opacity: 1;
    font-size: 22px;
    color: rgb(119, 119, 119);
    visibility: hidden;
    transform: translateY(300px);
    transition: 0.7s;
    opacity: 0;

    width: 100%;
    height: 200px;
}

.sted:hover > .info{
    visibility: visible;
    transition: 0.7s ease;
    opacity: 1;

    transform: translateY(0px);
}

.sted-overskrift {
    font-style: italic;
    font-size: 40px;
    margin-top: 100px;


    transform: translateY(180px);

    transition: 0.7s;
}

.sted:hover > .sted-overskrift {
    transform: translateY(0px);
}

>>>>>>> style
.sted .info .navn {
    color: rgb(58, 58, 58);
    margin-bottom: 20px;
}
<<<<<<< HEAD
=======

>>>>>>> style
.sted .info p {
    margin: 4px 0px 4px 0px;
}