body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #EFEFEF;
    
    font-family: 'Encode Sans Expanded', sans-serif;


}

.nav {
    overflow: hidden;
    padding: 20px 10px;
}

.nav a {
    float: left;
    color: #2A2A2A;
    text-align: center;
    text-decoration: none;
    margin: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    border-bottom: 1.5px solid transparent;

    padding: 7px 7px 8px 7px;

    transition: color .2s;

}

#nav-right {
    float: right;
    font-weight: 100;
    color: #FF3B3F;
    border: 1px solid #FF3B3F;

}

#nav-right:hover{
    background-color: #FF3B3F;
    color: white;
    transition: .2s ease;
}

.nav a:hover {
    color: #FF3B3F;
    transition: .2s ease;
}

.nav a#aktiv {
    color: black;
    border-bottom: 1.5px solid #FF3B3F;
}

.nav a#aktiv:hover {
    color: #FF3B3F;
    transition: .2s ease;

}

.nav-wrap {
    max-width: 80%;
    margin: 0 auto;
}

.side-wrap {
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 0px 0px 40px;
}

.tittel {
    font-size: 50px;
    font-style: italic;
    color: #FF3B3F;

    margin-top: 55px;
}

.beskrivelse {
    font-size: 22px;
    font-style: italic;
    color: #343434;
    max-width: 50%;
    
    margin-top: -30px;
    line-height: 30px;
}

.finnSted {
    margin-top: 60px;
}

#bliMedlem {
    text-transform: uppercase;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: light;
    font-size: 16px;
    color:white;

    background-color: #FF3B3F;
    border: 1px solid transparent;
    transition: background-color .2s, boder .2s, color .2s;
}
#bliMedlem:hover {
    background-color: transparent;
    border: 1px solid #FF3B3F;
    color: #FF3B3F;
    transition: .2s ease;
}

#background-image {
    position: absolute;
    bottom: 0;
    right: 0;
    
    height: 100%;
    width: 1850px;
    
    z-index: -1;

    background-image: url("../ressurser/background3.png");
}



.logo-wrapper{
    position: absolute;
    bottom: 75px;

    height: auto;
    width: auto;

}

.logo {
    width: 70px;
    height: auto;
    margin-right: 15px;
}


/*Medlem*/
.medlem-container{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

#medlem-tekst{
    padding: 50px 30px;
}

#medlem-abonnement-container {
    display: flex;
    flex-direction: row;
}

.medlemskap {
    border: 1px solid #ccc;

    width: 300px;
    height: 600px;
    padding: 50px;
    
    text-align: center;

    font-size: 1.2rem;
    
}
.medlem-button{
    margin-top: 350px;

    padding: 15px 50px;
    font-size: 1rem;
}


#markert{
    background-color: #cecece;
}


/*Bil/båt info*/
.bil-baat-container {
    display: flex;
    margin-top: 150px;
    flex-wrap: wrap;
}
.bil-baat-bilde {
    flex: 40%;
    margin: 0;
    margin-right: 50px;
}
.bil-baat-bilde img {
    width: 100%;
    height: auto;
} 
.bil-baat-info {
    flex: 50%;
    color: rgb(87, 87, 87);
}
.bil-baat-info ul {
    list-style-type: none;
    margin-left: -40px;
}
.bil-baat-info h1 {
    font-size: 45px;
}
.bil-baat-info p, .bil-baat-info ul {
    font-size: 20px;
}